# Laravel & VSCode .gitignore
/vendor
/node_modules
.env
.env.*
/storage/app
/storage/logs
/storage/framework
/public/storage
/public/build
.idea/
.vscode/
.DS_Store
Thumbs.db
*.sqlite
*.sqlite3
*.bak
*.tmp
npm-debug.log
composer.lock
package-lock.json
.phpunit.result.cache
.php_cs.cache

# Ignore database exports
*.sql
